@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1 {
  font-family: century gothic;
  color: white;
  text-align: center;
 }

 h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
  text-align:  center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
 }

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #201732;
}

.bio {
  padding: 1em;
  width: 70%;
  max-width: 25em;
  color:  white;
  margin: 0 auto;
  background-color: RGBA(0,0,0,0.4);
 }

.bio p {
  margin: 0;
}
 h3 {
  text-transform: uppercase;
  font-family: sans-serif;
  color:  white;
  text-align:  center;
  width: 80%;
  margin: 0 auto;
  padding-top: 1em;
 }

.centered {
  vertical-align: middle;
}

.email {
  color: white;
  color:  white;
  text-align:  center;
  width: 80%;
  margin: 0 auto;
  padding-top: 1em;
}

.soc-linkdn, .soc-facebook, .soc-google {
    display: block;
    background-image: url(../images/asset1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}

.soc-facebook {
    background-image: url(../images/asset1.png);
}

.soc-google {
    background-image: url(../images/asset1.png);
}

.social {
    font-size: 1.2rem;
    color: #6a1d15;

}
.soc {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 1em;
}

.soc li {
    height: 3em;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
}

